/* Core style */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
.nav-item {
  margin: 0;
  text-decoration: none;
  list-style: none;
  line-height: 1.2;
}

textarea:focus,
select:focus {
  outline: none !important;
  box-shadow: none !important;
}

button {
  border: none;
  background: none;
}

input:focus {
  outline: none !important;
}

a:active,
a:focus {
  outline: 0;
  border: none;
}

.wrapper {
  overflow: hidden;
}

.container {
  padding: 0 40px;
}

body {
  background: #FFF;
  font-family: "Montserrat";
  font-weight: 400;
}

.btn {
  width: 220px;
  border-radius: 6px;
  background: #393;
}
.btn button {
  color: #FFF;
  padding: 16px 56px;
  font-size: 20px;
  font-weight: 600;
}

.discount__btn {
  border-radius: 6px;
  background: #FFF;
  padding: 16px 32px;
  text-align: center;
}
.discount__btn button {
  color: #282828;
  font-size: 20px;
  font-weight: 600;
}

.header {
  padding: 30px 0;
}
.header .container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.header .container .header__center .nav {
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 32px;
}
.header .container .header__center .nav .nav-item .nav-link {
  color: #282828;
  font-size: 20px;
  font-weight: 500;
}

.home__page {
  background-image: url(../images/bg-imgs/home__pages-img.png);
  background-repeat: no-repeat;
  padding: 80px 0 210px 40px;
}
.home__page .home__page-title {
  color: #FFF;
  font-size: 96px;
  font-weight: 700;
  padding-bottom: 40px;
}

.category {
  padding: 80px 0;
}

.category__top {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 40px;
}
.category__top .universal__title {
  color: #282828;
  font-size: 49px;
  font-weight: 700;
}
.category__top .category__btn {
  padding: 8px 16px;
  border: 1px solid #DDD;
  border-radius: 6px;
}
.category__top .category__btn button {
  color: #8B8B8B;
  font-size: 16px;
  font-weight: 500;
}

.box__parent {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  gap: 30px;
}
.box__parent .Category__boxs-img {
  width: 295px;
}
.box__parent .category__info {
  color: #282828;
  font-size: 20px;
  font-weight: 500;
  margin-top: 16px;
  text-align: center;
}

.discount .container {
  border-radius: 12px;
  background: linear-gradient(261deg, #0B710B 32.63%, #393 98.96%);
  margin: 0 40px;
}
.discount .container .discount__title {
  color: #FFF;
  text-align: center;
  font-size: 64px;
  font-weight: 700;
  padding: 32px 0 24px 0;
}
.discount .container .discount__user-information {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.discount .container .discount__user-information .discount__user-information__img {
  margin-right: 32px;
}
.discount .container .discount__user-information .discount__user-information__img img {
  padding: 0;
}
.discount .container .discount__user-information .discount__user-information__content {
  padding-top: 32px;
}
.discount .container .discount__user-information .discount__user-information__content .discount__content-input {
  display: block;
  background-color: inherit;
  border-radius: 6px;
  border: 1px solid #FFF;
  padding: 16px 165px 16px 32px;
  margin-bottom: 16px;
}
.discount .container .discount__user-information .discount__user-information__content .discount__content-input::-moz-placeholder {
  color: #FFF;
  font-size: 20px;
  font-weight: 500;
}
.discount .container .discount__user-information .discount__user-information__content .discount__content-input::placeholder {
  color: #FFF;
  font-size: 20px;
  font-weight: 500;
}/*# sourceMappingURL=main.css.map */