// Colors
$white: #FFF;
$black: #282828;
$white-grey: rgb(221, 221, 221);
$green: #393;
$grey: #8B8B8B;
$grey-divider:#DDD;
$discount__container-bg: linear-gradient(261deg, #0B710B 32.63%, #393 98.96%);