@use "../abstracts/variables";
@use "../abstracts/mixins";

.btn{
    width: 220px;
    border-radius: 6px;
    background: variables.$green;

    button{
        color: variables.$white;
        padding: 16px 56px;
        font-size: 20px;
        font-weight: 600;

        &:hover{
            color: variables.$green;
            border-radius: 6px;
            background: variables.$white;
        }
    }
}
.discount__btn{
    border-radius: 6px;
    background: variables.$white;
    padding: 16px 32px;
    text-align: center;

    button{
        color: variables.$black;
        font-size: 20px;
        font-weight: 600;
    }
}
.category__btn{
    padding: 8px 16px;
    border: 1px solid variables.$grey-divider;
    border-radius: 6px;

    button{
        color: variables.$grey;
        font-size: 16px;
        font-weight: 500; 
    }
}
.book__btn{
    width: 260px;
    border-radius: 6px;
    background: variables.$green;
    padding: 16px 0;
    text-align: center;
    @include mixins.search-icon($position: absolute, $top: 197px, $left: 16px);

    &:hover{
        cursor: pointer;
    }
    button{
        color: variables.$white;
        font-size: 20px;
        font-weight: 600;

        &:hover{
            color: variables.$white;
            cursor: pointer;
        }
    }
}
.card__number{
    color: variables.$white;
    padding: 7px;
    background-color: variables.$green;
    border-radius: 50%;
    font-size: 12px;
    font-weight: 600;
    line-height: 90%;
    @include mixins.search-icon($position: absolute, $top: 62px, $right: 60px);
}
.description__content-btn{
    width: 316px;
    border-radius: 6px;
    background: variables.$green;
    padding: 16px 32px;
    text-align: center;

    &:hover{
        background: variables.$black;
        cursor: pointer;
    }
    button{
        color: variables.$white;
        font-size: 20px;
        font-weight: 600;

        &:hover{
            color: variables.$white;
            cursor: pointer;
        }
    }   
}
.order__btn{
    width: 423px;
    padding: 16px;
    border-radius: 12px;
    background-color: variables.$green;
    text-align: center;
    margin-top: 16px;

    button{
        color: variables.$white;
        font-size: 20px;
        font-weight: 600;
    }
}