/* Core style */
html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
.nav-item{
	margin: 0;
	text-decoration: none;
	list-style: none;
	line-height: 1.2;
}

textarea:focus,
select:focus {
	outline: none !important;
	box-shadow: none !important;
}

button {
	border: none;
	background: none;
}

input:focus {
	outline: none !important;
}

a:active,
a:focus {
	outline: 0;
	border: none;
}

.wrapper {
	overflow: hidden;
}
.container{
	padding: 0 40px;
}