@use "../abstracts/variables";
@use "../abstracts/mixins";


.home__page{
    background-image: url(../images/bg-imgs/home__pages-img.png);
    background-repeat: no-repeat;
    padding: 80px 0 210px 40px;

    .home__page-title{
        color: variables.$white;
        font-size: 96px;
        font-weight: 700;  
        padding-bottom: 40px;     
    }
}
.category{
    padding: 80px 0;
}
.category__top{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 40px;

    .Line__img{
        width: 717px;
    }
}
.universal__title{
    color: variables.$black;
    font-size: 64px;
    font-weight: 700;
    margin-right: 32px;
}
.box__parent{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    gap: 30px;

    .Category__boxs-img{
        width: 295px;
    }
    .box__bottom-info{
        color: variables.$black;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 20px;
        font-weight: 500;
    }
}
.discount{
    .container{
        border-radius: 12px;
        background: variables.$discount__container-bg;
        margin: 0 40px;

        .discount__title{
            color: variables.$white;
            text-align: center;
            font-size: 64px;
            font-weight: 700;
            padding: 32px 0 24px 0;

        }
        .discount__user-information{
            display: flex;
            flex-wrap: wrap;
            align-items: center;

            .discount__user-information__img{
                margin-right: 32px;

                img{
                    padding: 0;
                }
            }
            .discount__user-information__content{
                padding-top: 32px;
                
            
                .discount__content-input{
                    display: block;
                    background-color: inherit;
                    border-radius: 6px;
                    border: 1px solid variables.$white;
                    padding: 16px 165px 16px 32px;
                    margin-bottom: 16px;

                    &::placeholder{
                        color: variables.$white;
                        font-size: 20px;
                        font-weight: 500;
                    }
                }
            }
        }
    }
}
.sale{
    margin: 80px 0 306px 0;
    
    .Line__img{
        margin-right: -3px;
        width: 991px;
    }
 
}
.box__parent{
    gap: 20px;

    .box{
        position: relative;
        border-radius: 12px;
        border: 1px solid variables.$grey-divider;

        .chegirma{
            color: variables.$white;
            font-size: 20px;
            font-weight: 600;
            letter-spacing: 0.6px;
            padding: 4px 8px;
            background: variables.$green;
            border-radius: 6px;
            @include mixins.search-icon($position: absolute, $right: 10px, $top: 32px)
        }
        .Category__boxs-img{
            width: 300px;
            border-top-right-radius: 12px;
            border-top-left-radius: 12px;
        }
        .sale__box-content{
            padding:  0 15px 32px 14px;

            .box__bottom-info{
                margin: 20px 0 16px 0;
                text-align: left;
            }
            .price{
                color: variables.$black;
                font-size: 40px;
                font-weight: 600;

                .eski__price{
                    color: variables.$grey;
                    font-size: 20px;
                    font-weight: 500;
                    text-decoration-line: strikethrough;
                    margin-left: 16px;
                }
            }
        }
    }
}   
.map{

    .universal__title{
        margin-bottom: 40px;
    }
}

.book{
    margin: 125px 0 297px 0;

    .book__contact{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-top: 40px;

        &:nth-child(4){
            margin-left: 24px;
        } 

        .name{
            color: variables.$black;
            font-size: 20px;
            font-weight: 600;
            margin-right: 16px;
           
        }
        .book__input{
            width: 80px;
            padding: 8px 16px;
            border-radius: 6px;
            border: 1px solid variables.$grey-divider;
            margin-right: 16px;

            &::placeholder{
                color: variables.$grey;
                font-size: 16px;
                font-weight: 500;
            }
        }
        .choose{
            width: 36px;
            height: 36px;
            border-radius: 6px;
            margin-right: 40px;
        }
        .select{
            width: 176px;
            border-radius: 6px;
            padding: 8px 16px;
        }
    }
    .parent{
        margin: 40px 0 32px 0;
    }
}