@use "../abstracts/variables";
@use "../abstracts/mixins";


.home__page{
    background-image: url(../images/bg-imgs/home__pages-img.png);
    background-repeat: no-repeat;
    max-width: 100%;
    padding: 80px 0 210px 40px;

    .home__page-title{
        color: variables.$white;
        font-size: 96px;
        font-weight: 700;  
        padding-bottom: 40px;     
    }
}
.category{
    padding: 80px 0;
    position: relative;

    .category__top{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 40px;
    
        .Line__img{
            width: 720px;
        }
    }
    .tab{

        .nav{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            gap: 100px;
            margin: 0 0 80px 0;
            padding: 0 64px 40px 64px;
            border-bottom: 2px solid variables.$green;

            .nav-item{
                color: variables.$white;
                font-weight: 600;
                width: 210px;
                padding: 20px 0;
                border-radius: 16px;
                text-align: center;
                background-color: variables.$green;
                cursor: grab;

                &__active{
                    background-color: variables.$blue;
                }
            }
        }
        .box__child{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
            gap: 32px;
            cursor: pointer;
        
            .Category__boxs-img{
                width: 293px;
            }
            .box__bottom-info{
                color: variables.$black;
                overflow: hidden;
                text-overflow: ellipsis;
                text-align: center;
                font-size: 20px;
                font-weight: 500;
                margin-top: 16px;
            }
        }
    }
}

.box__title{
    color: variables.$black;
    font-size: 50px;
    font-weight: 700;
    margin: 50px 0 50px 32px;
    cursor: grab;
}
.hide{
    display: none;
}
.show{
    display: block;
}
.fade{
    animation-name: fade;
    animation-duration: 1.5s;
}
@keyframes fade {
    0%{
        opacity: 0;
    } 
    100%{
        opacity: 1;
    }   
}


.universal__title{
    color: variables.$black;
    font-size: 64px;
    font-weight: 700;
    margin-right: 32px;
    cursor: grabbing;
}
.discount{
    
    .container{
        border-radius: 12px;
        background: variables.$discount__container-bg;
        margin: 0 40px;
        cursor: grabbing;

        .discount__title{
            color: variables.$white;
            text-align: center;
            font-size: 64px;
            font-weight: 700;
            padding: 32px 0 24px 0;

        }
        .discount__user-information{
            display: flex;
            flex-wrap: wrap;
            align-items: center;

            .discount__user-information__img{
                margin-right: 32px;

                img{
                    width: 624px;
                    margin-bottom: -30px;
                    padding: 0;
                }
            }
            .discount__user-information__content{
                padding: 32px 0 32px 0;
                
            
                .discount__content-input{
                    background-color: inherit;
                    border-radius: 6px;
                    display: block;
                    border: 1px solid variables.$white;
                    padding: 16px 165px 16px 32px;
                    margin-bottom: 16px;

                    &::placeholder{
                        color: variables.$white;
                        font-size: 20px;
                        font-weight: 500;
                    }
                }
            }
        }
    }
}
.sale{
    margin: 80px 0 306px 0;
    
    .sale__top{
        display: flex;
        align-items: center;
        margin-bottom: 40px;
    }
}
.box__parent{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    gap: 32px;
    cursor: pointer;

    .universal__box{
        width: 293px;
        position: relative;
        border-radius: 12px;
        border: 1px solid variables.$grey-divider;
        }
        .Category__boxs-img{
            width: 291px;
            border-top-right-radius: 12px;
            border-top-left-radius: 12px;

        }
        .sale__box-content{
            padding:  0 15px 32px 14px;

            .box__bottom-info{
                margin: 20px 0 16px 0;
                text-align: left;
            }

        }
}
.price{
    color: variables.$black;
    font-size: 40px;
    font-weight: 600;

    .eski__price{
        color: variables.$grey;
        font-size: 20px;
        font-weight: 500;
        text-decoration-line: strikethrough;
        margin-left: 16px;
    }
}
.chegirma{
    color: variables.$white;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.6px;
    padding: 4px 8px;
    background: variables.$green;
    border-radius: 6px;
    @include mixins.search-icon($position: absolute, $right: 10px, $top: 32px)
}
 
.map{

    .universal__title{
        margin-bottom: 40px;
    }
}

.book{
    margin: 125px 0 297px 0;

    .book__contact{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-top: 40px;

        &:nth-child(4){
            margin-left: 24px;
        } 

        .name{
            color: variables.$black;
            font-size: 20px;
            font-weight: 600;
            margin-right: 16px;
           
        }
        .book__input{
            width: 80px;
            padding: 8px 16px;
            border-radius: 6px;
            border: 1px solid variables.$grey-divider;
            margin-right: 16px;

            &::placeholder{
                color: variables.$grey;
                font-size: 16px;
                font-weight: 500;
            }
        }
        .choose{
            width: 36px;
            height: 36px;
            border-radius: 6px;
            margin-right: 40px;
        }
        .select{
            width: 176px;
            border-radius: 6px;
            padding: 8px 16px;
        }
    }
    .parent{
        margin: 40px 0 32px 0;
        cursor: pointer;
    }
}
.descripton{
    margin: 188px 0 308px 0;

    .container{
        display: flex;

        .description__img{

            img{
                width: 715px;
            }
        }
        .description__content{
            width: 548px;

            .description__content__title{
                color: variables.$black;
                font-size: 40px;
                font-weight: 700;
                margin-bottom: 32px;
            }
            .price__div{
                display: flex;
                align-items: center;
                position: relative;

                .price{
                    font-size: 64px;

                    .eski__price{
                        font-size: 40px;
                    }
                }
                .description__chegirma{
                    color: variables.$white;
                    font-size: 20px;
                    font-weight: 600;
                    letter-spacing: 0.6px;
                    padding: 4px 8px;
                    background: variables.$green;
                    border-radius: 6px;
                    @include mixins.search-icon ($position: absolute, $left: 276px)
                }
            }
            .sale__secateurs{
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                margin-top: 32px;
    
                .miqdor{
                    display: flex;
                    align-items: center;
                    border: 1px solid variables.$white-grey;
                    border-radius: 6px;
                    margin-right: 32px;

                    .minus,
                    .plus{
                        color: variables.$grey;
                        padding: 17px;
                        border: 1px solid variables.$white-grey;
                        border-radius: 4px;
                    }
                    .one{
                        color: variables.$black;
                        font-weight: 600;
                        letter-spacing: 0%;
                        padding: 0 32px;                
                    }
                }
            }
            .description__title{
                color: variables.$black;
                font-size: 20px;
                font-weight: 600;
                margin: 32px 0 16px 0;
            }
            .description__content-info{
                color: variables.$black;
                font-size: 16px;
                font-weight: 400;
                text-align: left;
                padding: 16px 0;
            }
            .description__content-info__link{
                color: variables.$black;
                font-size: 16px;
                font-weight: 500;
                text-decoration-line: underline;
                margin-top: 16px;
            }
        }
    }
}
.shopping__cart{
    margin: 40px 0 316px 0;

    .shopping__cart-top{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-bottom: 40px;

        .line__img-shopping{
            width: 575px;
        }
    }
    .shopped__products{
        display: flex;
        flex-wrap: wrap;

        .shopped__products-product{
            display: inline-block;

            .secateurs__box{
                display: flex;
                flex-wrap: wrap;
                margin-bottom: 10px;


                .secateurs__box-content{
                    width: 550px;
                    padding: 32px;
                    border: 1px solid variables.$grey-divider;
                    border-radius: 0 12px 12px 0;
                    height: 180px;

                    .secateurs__box-content__top{
                        display: flex;
                        flex-wrap: wrap;
                        align-items: center;
                        justify-content: space-between;
                        margin-bottom: 32px;

                        .secateurs__box-content__top-title{
                            color: variables.$black;
                            font-size: 20px;
                            font-weight: 500;
                            padding-left: 28px;
                        }
                    }
                    .price__div{
                        display: flex;
                        align-items: center;
                        gap: 32px;

                        .sale__secateurs{
                
                            .miqdor{
                                display: flex;
                                align-items: center;
                                border: 1px solid variables.$white-grey;
                                border-radius: 6px;
            
                                .minus,
                                .plus{
                                    color: variables.$grey;
                                    padding: 17px;
                                    border: 1px solid variables.$white-grey;
                                    border-radius: 4px;
                                }
                                .one{
                                    color: variables.$black;
                                    font-weight: 600;
                                    letter-spacing: 0%;
                                    padding: 0 32px;                
                                }
                            }
                        }
                    }
                }
            }
        }
        .shopped__products-order{
            height: 568px;
            border-radius: 12px;
            background: variables.$light-grey;
            padding: 32px;
            margin-left: 32px;

            .shopped__products-order__title{
                color: variables.$black;
                font-size: 40px;
                font-weight: 700;
                margin-bottom: 24px;
            }
            .universal__write{
                color: variables.$grey;
                font-size: 40px;
                font-weight: 500;
            }
            .total{
                display: flex;
                flex-wrap: wrap;
                align-items: baseline;
                margin: 18px 0 32px 0;
                gap: 77px;

                .total__price{
                    color: variables.$black;
                    font-size: 64px;
                    font-weight: 700;
                }
            }
            .order__content-input{
                width: 423px;
                background-color: variables.$white;
                display: block;
                border-radius: 6px;
                border: 1px solid variables.$white;
                padding: 16px 0 16px 32px;
                margin-bottom: 16px;

                &::placeholder{
                    color: variables.$grey;
                    font-size: 20px;
                    font-weight: 500;
                }
            }
        }
    }
}